[submodule "MeasureSoftGram-Service"]
	path = Service
	url = https://github.com/fga-eps-mds/MeasureSoftGram-Service.git
	branch = develop
[submodule "MeasureSoftGram-Front"]
	path = Front
	url = https://github.com/fga-eps-mds/MeasureSoftGram-Front.git
	branch = develop
[submodule "MeasureSoftGram-Core"]
	path = Core
	url = https://github.com/fga-eps-mds/MeasureSoftGram-Core.git
	branch = develop
[submodule "MeasureSoftGram-Parser"]
	path = Parser
	url = https://github.com/fga-eps-mds/MeasureSoftGram-Parser.git
	branch = develop
[submodule "MeasureSoftGram-CLI"]
	path = CLI
	url = https://github.com/fga-eps-mds/MeasureSoftGram-CLI.git
	branch = develop
[submodule "MeasureSoftGram-Action"]
	path = Action
	url = https://github.com/fga-eps-mds/MeasureSoftGram-Action.git
	branch = develop
[submodule "MeasureSoftGram-Plugin"]
	path = Plugin
	url = https://github.com/fga-eps-mds/MeasureSoftGram-Plugin.git
	branch = develop
[submodule "MeasureSoftGram-AI"]
	path = AI
	url = https://github.com/fga-eps-mds/MeasureSoftGram-AI.git
	branch = develop
[submodule "MeasureSoftGram-DOC"]
	path = DOC
	url = https://github.com/fga-eps-mds/MeasureSoftGram-Docs.git
	branch = main
